/* CSS Color Variables */

:root {
    --mydark: #5c57223b;
    --myfont: #5287a5;
    --mybeige: #DAAD86;
    --mybrown: #977447;
    --mylight:#fbeec1;
    --mywhite: #FAEBD7;
    --myblack: #000;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--myblack);
}

body {
    background: var(--mylight);
}

h1 {
    color: var(--myblack);
}

.top-header {
    background-color: var(--myblack);
    display: flex;
    width: 100%;
    height: 2rem;
}

.top-header h6 {
    color: var(--mywhite);
    margin-left: 1rem;
    margin-right: 3rem;
    margin-top: 4px;
}

.navigation-menu {
    background: var(--myfont);
}

.nav-item a{
    color: var(--mywhite);
}

.myactive {
    color: var(--mybeige);
}

.pic-1 {
    margin: 5px 10px;
}

.lower-box {
    background: var(--mybeige);
}

.line-break {
    background:#5287a5;
    width: 100%;
    height: 2px;
}

.middle-section {
    background: var(--mylight);
}

footer {
    background: var(--myfont);
    width:100%;
    height: 6rem;
    color: var(--mywhite);
}

footer h4{
    text-align: center;
}

.footer-logos {
    width: 50px;
    height: 50px;
    align-items: stretch;
}

